---
import "katex/dist/katex.min.css";
import "@styles/global.css";

interface Props {
  title: string;
  description: string;
  keywords: string;
}

const { title, description, keywords } = Astro.props;
---

<meta charset="UTF-8" />
<title>{title}</title>
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<link rel="canonical" href={Astro.url} />

<script>
  if (localStorage.theme !== "dark") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
</script>
